.ProcessosEmpresas {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}


@media (max-width:420px) {
    .w-processsosempresa {
        width: 23rem;
    }

    .processo-title{
        width: 83.333333%;
    }
}

@media (max-width:370px) {
    .w-processsosempresa {
        width: 19rem;
    }
}



@media (max-width:1200px) {
    .ProcessosEmpresas {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width:920px) {
    .doclist{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

}

@media (max-width:840px) {
    .contentdoccandidate{
        width: 100%;
    }
}

@media (max-width:800px) {
    .ProcessosEmpresas {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}