.criarvagacontainer {
    height: 60vh;
    display: flex;
}

.imgcontainer {
    object-fit: cover;
}

.truncate-multiline {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Número de linhas que você deseja exibir */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.resourcescontainer {
    display: flex;
    gap: 11rem;
}

.Pcdscontainer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media (max-width:1280px) {
    .Pcdscontainer {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width:1080px) {
    .resourcescontainer {
        gap: 10%;
    }
}

@media (max-width:920px) {
    .Pcdscontainer {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .resourcescontainer {
        flex-direction: column;
        height: fit-content;

    }

    .searchresources {
        height: fit-content;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .criarvagacontainer {
        height: fit-content;
        flex-direction: column;
    }

    .imgcontainer {
        height: 26rem;
    }

    .container-side {
        width: 100%;
    }

    .text-side {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

}

@media (max-width:580px){
    .Pcdscontainer {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}


.loader {
    border-top-color: #3498db;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.Dae{
    width: 100%;
    align-items: center;
    justify-items: center;
}