.loader {
    border-top-color: #3498db;
    animation: spin 1s ease-in-out infinite;
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/**/


.h-processoshero{
    height: 60vh;
}

@media (max-width:900px){
    .h-processoshero{
        height: fit-content;
        flex-direction: column;
    }

    .container-side{
        width: 100%;
    }

    .imgcontainer {
        height: 26rem;
    }

    .text-side {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}



/*Processos Cards*/
.h-processocard{
    height: 16rem;
}

.w-processocard{
    width: 23rem;
}



/*Vagas Container*/
.Processoscontainer{
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media (max-width:1200px){
    .Processoscontainer{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width:800px){
    .Processoscontainer{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

/*Apuração*/

.h-apuracaostatus{
    height: 80vh;
}
