.text-daeblue {
    color: #2563eb;

}

.bg-header-color {
    background: #343270;
}

.registerinputsgrid{
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media (max-width:430px) {
    .respon-w-input {
        width: 18rem;
    }

}

@media (max-width:350px) {
    .respon-w-input {
        width: 16rem;
    }

}

@media (min-width:730px){
    .h-formside{
        height: 100vh;
    }

}
@media (max-width:730px) {
    .registerinputsgrid{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media (min-width:1300px){
    .formside{
        width: 50%;
        display: flex;
    }

}

