.text-daeblue {
    color: #2563eb;

}

.bg-header-color {
    background: #343270;
}

.Img-Cadastro{
    margin-top: 2rem;
}

@media (max-width:1024px){
    .containerresponsiveform{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .grid-responsiveform{
       width: fit-content;
    }
}

@media (max-width:1340px){
    .grid-responsiveform{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}


@media (max-width:430px) {
    .respon-w-input {
        width: 18rem;
    }

}

@media (max-width:350px) {
    .respon-w-input {
        width: 16rem;
    }

}


