.Chatcontainer {
  width: 100vw;
  height: 80vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  position: relative;
}

.Chatcontainer::-webkit-scrollbar {
  width: 0.25rem;
}

.Chatcontainer::-webkit-scrollbar-track {
  background: #1e1e24;
}

.Chatcontainer::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.MessageForm {
  display: flex;
  height: 8vh;
  width: 100%;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.ulchat,
.lichat {
  text-align: left;
  list-style: none;
}

.paragrafo {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent .paragrafo {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}

.received .paragrafo {
  background: #e5e5ea;
  color: black;
}

.imgchat {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}