.Empresascontainer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

@media (max-width:1200px) {
    .Empresascontainer {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width:800px) {
    .Empresascontainer {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.empresa-item {
    opacity: 0;
    transform: translateY(20px);
}

.empresa-item.fadeIn {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}




.loader {
    border-top-color: #3498db;
    animation: spin 1s ease-in-out infinite;
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*Empresas Banner*/

.h-empresashero{
    height: 60vh;
}


@media (max-width:900px){
    .h-empresashero{
        height: fit-content;
        flex-direction: column;
    }

    .container-side{
        width: 100%;
    }

    .imgcontainer {
        height: 26rem;
    }

    .text-side {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}