.transitiontabs {
    transition: transform 0.3s ease;
}


.w-editprofile {
    width: 52rem;

}

.h-editprofile {
    height: 40rem;

}

@media (max-height:650px) {
    .h-editprofile {
        height: 38rem;
    }

    .editprofile-menu {
        gap: 7rem;
    }

}

@media (max-height:620px) {
    .h-editprofile {
        height: 36rem;
    }

    .editprofile-menu {
        gap: 6rem;
    }

}

@media (max-width:1340px) {
    .responsive-tabsprofile {
        justify-content: center;
    }

    .responsivecontentprofile {
        flex-direction: column;
        align-items: center;
    }


}


@media (max-width:880px) {
    .profilecontent-responsive{
        width: 100%;
    }

    .profilepicelement {
        width: 100%;
    }

    .responsiveprofilepage {
        flex-direction: column;
    }

    .tabs-container {
        width: 100%;
        padding-left: 0;
    }

    .buttonoptions {
        flex-direction: column;
    }

    .form-voltar {
        display: flex;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .tabs-voltar {
        display: none;
    }

    .responsivetabs {
        text-align: center;
        height: 100%;
    }

    .editprofile-menu {
        height: 6rem;
        padding: 0;
        background-color: transparent;
    }

    .bordertabs{
        border-radius: 1.5rem;
    }
}

/*Enpresa-Profile User*/

.vagasprofilelist {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
    justify-items: center;
}

@media (max-width:1150px) {
    .vagasprofilelist {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

}

@media (max-width:880px) {
    .vagasprofilelist {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

}

@media (max-width:750px) {
    .vagasprofilelist {
        grid-template-columns: repeat(1, minmax(0, 1fr));

    }

}

/**Editar Perfil**/

@media (max-width:850px) {
    .editprofile-screen{
        height: fit-content;
        background: #1f2937;
    }

    .editprofile-container {
        flex-direction: column;
        height: fit-content;
    }


    .editprofile-menu {
        width: 100%;
        flex-direction: row;
        gap: 2rem;
        justify-content: center;
    }

    .editprofile-tabs {
        flex-direction: row;
    }

    .editprofile-form {
        width: 100%;
        height: 40rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .editprofile-hello {
        display: none;
    }
}