.h-88vh {
  height: 88vh;
}

.h-75vh {
  height: 75vh;
}

.rounded-64px {
  border-radius: 64px 64px;
}

.hr-bg {
  background: #0000;
}

.banner-color {
  background: #e7e7e7;
}


.text-subtitle {
  color: #2563eb;
  text-transform: uppercase;
}

.imgborder {
  border: 2px solid #2563eb;
}

.iconhover:hover {
  color: #2563eb;
  transition: 0.2s ease-in;
  opacity: 0.8;

}

.mediahover:hover {
  font-size: 2.25rem;
  /* 36px */
  line-height: 2.5rem;
  /* 40px */
  transition: 0.2s ease-in all;
  color: #e7e7e7;
}


@media (max-width:640px) {
  .daelinktext {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .max-sm-w-full {
    width: 100%;
  }

  .max-sm-pb-0 {
    padding-bottom: 0;
  }

  .max-sm-pl-0 {
    padding-left: 0;
  }

  .max-sm-text-center {
    text-align: center;
  }

  .max-sm-flex-col {
    flex-direction: column-reverse;
  }

  .max-sm-flex-col2 {
    flex-direction: column;
  }

  .max-sm-jusify {
    justify-content: center;


  }


}

@media (max-width:379px) {
  .max-sm-logo {
    width: 6rem;
  }
}

/*About*/
@media (max-width:800px) {
  .itemscontentsd {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .itemstextboxsd {
    width: 100%;
  }

}

@media (max-width:1400px) {
  .aboutcontainer {
    flex-direction: column;
    height: max-content;
  }

  .aboutextcontainer {
    border-radius: 0;
    width: 100%;
  }
}

@media (max-width:1580px) {
  .aboutextcontainer {
    height: fit-content;
  }
}

/*Carousel*/



.swiper-pagination-bullet {
  background: #000 !important;
  /* Default bullet color */
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: rgb(59 130 246) !important;
  /* Active bullet color */
}

.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-prev {
  left: 10px;
}

.custom-next {
  right: 10px;
}


.swiper_container {
  box-shadow: 10px 10px 8px #1e40af;
}

.swiper-button-next,
.swiper-button-prev {
  height: 10px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #e7e7e7;
  /* Cor dos botões */
  padding: 10px;
  border-radius: 9999px;
  ;
  /* Borda arredondada */
}





@media (max-width:1260px) {
  .max-md-flex-col {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .flexfulltext {
    width: 80%;
  }

  .flexfullcaroussel {
    width: 70%;
  }

  .max-md-content {
    height: max-content;
  }

  .swiper_container {
    height: 20rem;
    width: 100%;
  }
}

@media (max-width:800px) {
  .flexfulltext {
    width: 90%;
  }



}


/* Estilos do scroller */
.sliderlogo {
  width: 50%;
  height: 100%;
}

.sliderlogo-slide {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4rem !important;
  margin-right: 4rem !important;
  width: fit-content !important;
}

.sliderlogo-slide img {
  display: block;

}

@media (max-width: 800px) {
  .sliderlogo {
    width: 80%;

  }
}

@media (max-width:700px) {
  .sliderlogo-slide {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }

}

@media (max-width:650px) {
  .max-sm-h-size {
    height: 15rem;

  }
}

/*1440+*/

@media (min-width:1920px) {
  .daelinktitle {
    font-size: 3.75rem;
    line-height: 1;
  }

  .daelinksubtitle {
    font-size: 1.875rem;
    line-height: 1;
  }

  .daelinktext {
    font-size: 1.2rem;
    line-height: 1;
  }

  .Home-Button {
    width: 11rem;
    font-size: 1.2rem;
  }

  .Home-Login{
    font-size: 1.2rem;
  }

  .aboutextcontainer {
    height: fit-content;
  }
}