.Banner-Image {
    margin-top: -12rem;
    margin-left: 8rem;
    width: 130%; /* Ocupa 100% da largura do contêiner */
    max-width: 41rem; /* Limita a largura máxima */
    height: auto; /* Mantém a proporção da imagem */
}

@media screen and (max-width: 1200px) {
    .Banner-Image {
        margin-left: 4rem;
        max-width: 35rem; /* Ajusta a largura para telas menores */
    }
}

@media screen and (max-width: 768px) {
    .Banner-Image {
        margin-left: 2rem;
        margin-top: -8rem;
        max-width: 30rem; /* Ajusta a largura para telas médias */
    }
}

@media screen and (max-width: 480px) {
    .Banner-Image {
        margin-left: 1rem;
        margin-top: -5rem;
        width: 150%; /* Ocupa toda a largura em telas pequenas */
    }
}

