
.section-title {
	font-size: 28px;
	margin-bottom: 10px;
	padding-bottom: 20px;
	font-weight: 400;
	display: inline-block;
	position: relative;
    margin-top: 5rem;
}
.section-title:after,
.section-title:before {
	content: "";
	position: absolute;
	bottom: 0;
}
.section-title:after {
	height: 2px;
	background-color: rgba(15, 59, 252, 0.46);
	left: 25%;
	right: 25%;
}

.section-title:before {
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	background-color: #420ffc;
	left: 50%;
	transform: translatex(-50%);
	bottom: -6px;
	z-index: 9;
	border-radius: 50%;
}

