.editvaga-div {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media(max-width:800px) {
    .editvaga-div {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

}