.h-table-admin {
    height: 42vh;
}

.w-sidebar {
    width: 44vw !important;
}


.spinner {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width:1277px) {
    .h-table-admin {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

}

@media (max-width:870px) {

    .dash-nav {
        display: none;
    }

    .dash-content {
        width: 100%;
    }

    .menu-div {
        display: flex;
    }

    
}

@media (max-width:647px) {
    .dash-cards-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 1rem;
    }

    .h-table-admin {
        height: 60vh;
     
    }

}


@media (max-width:410px) {

    .dash-cards-2 {
        flex-direction: column;
    }

}

@media (max-width:390px) {

    .w-sidebar {
        width: 52vw !important;
    }
}